nav .navbar-nav li a {
  color: white !important;
  font-size: 11px;
}

.navbar {
  background: transparent;
  z-index: 997 !important;
  padding: 1.5rem 4rem !important;
  border: none;
  transition: background-color 0.2s linear;
}

.navbar.solid {
  background-color: rgba(20, 2, 0, 0.8);
  transition: background-color 1s ease 0s;
}
.sticky-top {
  top: 56px;
}

.container {
  width: 100%;
}

.banner-wrapper {
  background: url(../images/bg2.png);
  background-position: bottom center;
  background-size: cover;
  height: 650px;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
}

.banner-text h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "poppins";
  line-height: 80px;
}

.banner-text h1 span {
  font-weight: 700;
}
.banner-text .primary-btn {
  background-color: white;
  color: #222;
  border-radius: 50px;
  line-height: 35px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid white;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  font-family: "poppins";
  letter-spacing: 1px;
}
.section-about .container {
  padding: 3rem 0;
  margin-top: 3rem;
}

.black-img {
  background-color: #000000;
  height: 20rem;

  border-radius: 50px;
}

.about-img {
  background: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 30px;
}

.about-texts {
  margin-top: 15px;
  padding: 0 45px;
}
.about-us {
  font-size: 3.5rem;
  font-family: "Dancing script";
  font: bold;
  text-transform: uppercase;
}
.about-subtext {
  display: block;
  font-weight: 100;
  font-size: 12px;
  color: #b68834;
  text-transform: uppercase;
  letter-spacing: 1.5;
  line-height: 2.5;
}

.about-texts p {
  color: #777777;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1.2;
  line-height: 2;
}

.first-circle {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  background-color: #875316;
  justify-content: center;
  display: flex;
}

.second-circle {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
}

.coffee-img {
  height: 170px;
  width: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.favourite-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Dancing script";
}

.favourite-section {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.favorite-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.favorite-container .col-sm {
  margin-left: 2rem;
  margin-right: 2rem;
}
.menu-background {
  height: 100rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}

.menu-section {
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.menu-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Dancing script";
  letter-spacing: 1.5;
  display: block;
  margin-bottom: 2.5rem;
}

.list-wrapper {
  height: 100%;
  display: block;
  margin: auto;
  width: 80%;
  padding-top: 4rem;
}

.divider {
  display: flex;
  margin: auto;
  color: #777777;
  border-top: 2px;
  border-bottom: 2px;
  border-style: solid;
  border-left: none;
  border-right: none;
  justify-content: center;
}

.bean-logo {
  height: 50px;
  width: 40px;
  background-repeat: no-repeat;
  margin-top: 2rem;
  text-align: center;
  background-size: contain;
}

.cat-title {
  font-size: 2.7rem;
  font-family: "Dancing script";
  margin: 1rem 1rem 0 1rem;
  color: azure;
  letter-spacing: 2;
  font-weight: 600;
}

.item-wrap {
  margin-top: 5rem;
}

.item-img div {
  height: 4.8rem;
  width: 4.8rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
}

.item-name span {
  font-size: 1.5rem;
  letter-spacing: 2;
  color: #be9c79;
  font-family: "Dancing script";
  text-align: center;
  line-height: 3;
}

.item-line span {
  font-size: 2rem;
  font-family: "Dancing script";
  color: #be9c79;
  letter-spacing: 2;
  line-height: 2;
}

.item-price {
  font-size: 1.5rem;
  letter-spacing: 2;
  color: #be9c79;
  font-family: "Dancing script";
  line-height: 3;
}

.divider2 {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.ice-row {
  margin-bottom: 1rem;
}

.review-wrap {
  height: 25rem;
  background-color: #875316;
  margin-bottom: 3rem;
}
